{
    "deployment_group": "{{ group_names[0] }}",
    "host": "{{ inventory_hostname }}",
    "host_id": "{{ host_id }}",
    "opinion": "{{ app_payload }}",
    "secret": "{{ app_secret }}",
    "service_level": "{{ app_service_level }}",
    "version": "{{ app_version }}"
}